h2{
  margin-left: 10vw;
  margin-bottom: 2rem;
  margin-top: 6rem;
  color: #0d29b4;
}

.all-heroes-empty{
  margin-left: 10vw;
  color: rgb(204, 50, 50);
  font-size: 1.2rem;
  margin-bottom: 2rem;

  a{
    color: #3b5bfc;
    text-decoration: none;
    font-weight: 600;

    &hover{
      cursor: pointer;
    }
  }
}

.headline{
  margin-left: 10vw;
  color: #3b5bfc;
  font-size: 1.2rem;
}

.hero-added{
  margin-left: 10vw;
  color: #2ab91d;
}
